html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(240,240,240);
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw;
  align-self: start;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
}

.search-bar {

}

.main {
  place-self: center;
  display: grid;
}

.location {
  font-size: 4rem;
  display: flex;
}

.weather-details {
  box-sizing: border-box;
  height: 400px;
  width: 600px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 2rem;
}

ul {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
}

li {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 200px 40px 40px;
  column-gap: 5px;
}

.weather-value {
  border-bottom: 1px solid black;
}