html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(240,240,240);
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw;
  align-self: start;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
}

.search-bar {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 5px;
  align-content: center;
}

.search-bar input {
  border: 1px solid black;
  outline: none;
}

.search-bar-input-error {
  position: relative;
}

.search-bar-error {
  color: red;
  font-size: 0.5rem;
  position: absolute;
  bottom: -8px;
}

.search-bar input:invalid {
  border-color: red;
}

.main {
  place-self: center;
  display: grid;
}

.location {
  font-size: 4rem;
  display: flex;
  padding-bottom: 10px;
}

.location img {
  height: 4rem;
}

.weather-details {
  box-sizing: border-box;
  border-top: 1px solid rgb(150,150,150);
  height: 400px;
  width: 600px;
  font-size: 2rem;
  padding-top: 10px;
}

ul {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
}

li {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 200px 80px 40px;
  column-gap: 5px;
}

.weather-value {
  border-bottom: 1px solid black;
  display: grid;
  place-content: center;
}